<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
<p id="notice"><%= notice %></p>

<h1 align="center"><%= @room.name %></h1>

<div class="msg-box" data-room-id="<%= @room.id %>">
<%= render 'messages' %>

<%= render 'new_message' %>

</div>
